---
Checks: >
  -*, 
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-macro-to-enum,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-equals-default
HeaderFilterRegex: '^.*/(main|src|zone|tests)/.*'
