[Desktop Entry]
Type=Application
Name=ViewTouch POS
Exec=usr/viewtouch/bin/vtpos
Icon=viewtouch
Categories=Office;Utility;PointOfSale;
Terminal=false


